<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title> Popular Programming Languages </title>
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
</head>
<body>

<h1 class = "title">Polular Programming Languages</h1>

      <div class = "menu">
      <a href="/"> Home </a>
     <a href="/cplusplus"> C++ </a>
     <a href="/java"> Java </a>
     <a href="/python"> Python </a>
     <a href="/swift"> Swift </a>
     </div>